doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Service Browser
    link(href='build/style.css', rel='stylesheet')
    link(rel="stylesheet", href="build/font-awesome/css/font-awesome.min.css")
    //- |<link href="http://fonts.googleapis.com/css?family=Dosis:400,600,700" rel="stylesheet" type="text/css">
  body

    #main
      div(v-view="currentView", v-ref="view")

    script#home(type="x-template")
      h1.header-logo-text.text-center PeoplesOpen.<span class="brand-color-text">net</span> Service Browser
      .container
        service-columns

    script#service-columns(type="x-template")
      .row
        .col-sm-4(v-repeat="column: columns")
          div(v-repeat="column" v-component="service-box")

    script#service-box(type="x-template")
      .service-box.panel.panel-default
        .panel-body
          .left
            .voter
              i.fa.fa-caret-up(v-class="activated: up_vote", v-on="click: upVote")
              .vote-count 3.4k
              i.fa.fa-caret-down(v-class="activated: down_vote", v-on="click: downVote")
            i.fa(v-class="txtRecord.type | type-icons")
          .right
            h3 {{ name }}
            p {{ txtRecord.description }}




    script(src='build/bundle.js')
